<html>
    <head>
        <script src="assets/script.js"></script>
        <link rel="stylesheet" href="assets/style.css">
    </head>

    <body>
        <p>version: <%= version %></p>
    </body>
</html>
